<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">Hotel <span>application</span></a>
    <form action="#" class="searchform order-sm-start order-lg-last">
      <div class="form-group d-flex">
        <input type="text" class="form-control pl-3" placeholder="Search">
        <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
      </div>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav m-auto"  >
        <li class="nav-item "><a href="" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="nav-item"><a href="/register" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">S'inscrire</a></li>
        <li class="nav-item"><a href="/login" class="nav-link"  routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> s'identifier</a></li>
        <li class="nav-item"><a href="/chambres" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"  >Chambres</a></li>
        <li class="nav-item"><a href="/Reservation" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" >Réservation</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link" routerLink="contact">Contact</a></li>
      </ul>


    </div>
   </div>
  <ul class="navbar-nav ml-auto" >
    <li class="nav-item"  *ngIf="showResponsableBoard" >
      <a href="/responsable" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Responsable Board</a>
     </li>
     <li class="nav-item"  *ngIf="showAdminBoard">
      <a href="/admin" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Admin Board</a>
    </li>
    <li class="nav-item" *ngIf="showReceptionnisteBoard">
      <a href="/receptionniste" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Receptionniste Board</a>
    </li>
    <li class="nav-item" *ngIf="showClientBoard">
      <a href="/client" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Client Board</a>
    </li>
    <li class="nav-item" *ngIf="showEmployeBoard">
      <a href="/employe" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Employe Board</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">LogOut</a>
    </li>
  </ul>
</nav>
