<div class="container">
  <div class="row">
    <app-int-admin></app-int-admin>
      <div class="col-md-6 offset-md-3">
      <form #user="ngForm" novalidate >
          <h1 class="text-center">Ajouter un utilisateur</h1>

          <div hidden class="form-group">
              <label for="Id">Id</label>
              <input type="text" [(ngModel)]="newUser.id" name="id" class="form-control">
          </div>

          <div class="form-group">
              <label for="username"><i class="fas fa-user"></i>Nom</label>
              <input type="text" class="form-control" required pattern="^[a-zA-Z]+$" [(ngModel)]="newUser.username" placeholder="Entrez le nom" name="username">

          </div>
          <div class="form-group">
              <label for="email"><i class="fas fa-user"></i>Email</label>
              <input type="text" class="form-control" required [(ngModel)]="newUser.email" placeholder="Entrez l'email" name="email">

          </div>

          <div class="form-group">
              <label for="password"><i class="fas fa-unlock-alt"></i>Mot de passe</label>
              <input type="text" class="form-control" required maxlength="8"  [(ngModel)]="newUser.password" placeholder="Entrez le mot de passe" name="password">

          </div>

          <div class="form-group">
              <label for="role"><i class="fas fa-briefcase"></i>Role</label>
              <select type="text" class="form-control" [(ngModel)]="user.role" placeholder="Entrez le role" name="role">
                <option ngValue="receptionniste">Responsable</option>
              <option ngValue="receptionniste">Réceptionniste</option>
              <option ngValue="employe">Employe</option>
              <option ngValue="client">Client</option>
            </select>
          </div>
          <div class="text-center">
          <button type="submit" (click)="addUser()" class="btn btn-success"><i class="fas fa-user-plus"></i>Ajouter</button>
          </div>
      </form>
  </div>
</div>

