<div class="container">
  <div class="row">
    <app-int-responsable></app-int-responsable>
    <div class="col-md-6 offset-md-3">
  <form>
      <div class="form-group">
          <label>ID Chambre</label>
          <input readonly type="text" [(ngModel)]="currentChambre.idChambre" name="idChambre" class="form-control">
      </div>

      <div class="form-group">
          <label><i class="fas fa-sort-numeric-up-alt"></i>Num Chambre</label>
          <input type="number" [(ngModel)]="currentChambre.numChambre" name="numChambre" class="form-control">
      </div>
      <div class="form-group">
          <label><i class="fas fa-keyboard"></i>Type Chambre</label>
          <input type="text" [(ngModel)]="currentChambre.typeChambre" name="typeChambre" class="form-control">
      </div>

      <div class="form-group">
          <label><i class="fas fa-audio-description"></i>Description</label>
          <input type="text" [(ngModel)]="currentChambre.description" name="description" class="form-control">
      </div>

      <div class="form-group">
          <label><i class="fas fa-calendar-times"></i>Du</label>
          <input type="date" [ngModel]="currentChambre.dateEntree | date: 'yyyy-MM-dd'"
              (ngModelChange)=" currentChambre.dateEntree= $event" name="dateEntree" class="form-control">
      </div>
      <br>
      <div class="form-group">
          <label><i class="fas fa-calendar-times"></i>Au</label>
          <input type="date" [ngModel]="currentChambre.dateSortie | date: 'yyyy-MM-dd'"
              (ngModelChange)=" currentChambre.dateSortie =$event" name="dateSortie" class="form-control">
      </div>
      <br>
      <div class="form-group">
          <label><i class="fas fa-toggle-on"></i>Etat</label>
          <input type="text" [ngModel]="currentChambre.etat "
           [(ngModel)]="currentChambre.etat" name="etat" class="form-control">
            </div>
          <br>
        <div class="form-froup">
       <div class="image-upload" style="margin: 1px;">
      <img [src]="image" height="100 "/>
      <input (change)="handleInputChange($event)" accept="image/*" name="imageUrl" required style="margin: 1%;"
             type="file" [(ngModel)]="currentChambre.image"  class="form-control"/>
  </div>
</div>
       <div class="text-center">
          <button type="submit" (click)="updateChambre()" class="btn btn-success"><i class="fas fa-user-edit"></i>Modifier</button>
          </div>
  </form>
</div>
